input{
	/* border style */
	border-radius: 5px;
	/* Sizing */
	max-width: 300px;
	min-width: 200;
	height: 30px;
	width: 400px;
}
.AddTodo{
/* sizing */
height:30px;
width: 100px;
/* border style */
border: none;
border-radius: 5px;
/* color */
background-color: #21c385;
color: white;
}
.AddTodo:active{
	background-color: #2a8b66;
	color: #e6e6e6;
}

.js-todos img{
	background:none;
	border: none;
	color: aqua;
	width: 12px;
}
.js-todos img:active	{
	background:none;

	color: aqua;
}
.js-todos button {
	background: none;
	border: none;
	cursor: pointer;

}