*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Roboto', sans-serif;
	
} 
body{background: #0f3443;}
 
.wrapper_list{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px ;
}
.list_item{
	display: inline-block;
	background: #09242d;
	padding: 80px 50px;
	border-radius: 10px;
	width: 510px;
	height: auto;

}
.js-todos {
	/* position  */
	align-items: center;
	padding-top: 20px;
	/* Text-sizing */
	font-size: 16px;
	/* text color  */
	color: #fff;
	/* sizing */
    max-width: 400px;

}
